<ion-header no-border-bottom>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>Ctlkart</ion-title>
    <ion-buttons slot="end" (click)="viewcart()">
      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    <ion-badge id="cart-badge" color="danger">{{cartcount}}</ion-badge>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
          <ion-label>
            <h3>Subtotal({{selectedlength}} items): <i class="fa fa-inr"></i>{{totalamount | number : '1.2-2'}}</h3>
          </ion-label>
    </ion-item>
    <ion-item>
        <ion-button color="warning" shape="round" expand="block" (click)="proceedtobuy()">Proceed To Buy</ion-button>
    </ion-item>
      <div *ngFor = "let single of getcartProductList">
      <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="imgURl + single.product_image">
          </ion-thumbnail>
            <ion-label>
              <h3>{{single.product_name}}</h3>
              <p><i class="fa fa-inr"></i>{{single.price | number : '1.2-2'}}</p>
            </ion-label>
      </ion-item>
      <ion-item>
            <ion-item>
              <button clear (click)="decrementQty(single.quantityperproduct,single.id)"><ion-icon name="remove-circle" ></ion-icon></button>{{single.quantityperproduct}}
               <button clear (click)="incrementQty(single.quantityperproduct,single.id)"><ion-icon name="add-circle" ></ion-icon></button>
           </ion-item>
            <ion-button color="light" (click)="presentAlertConfirm(single.id)">Delete</ion-button>
      </ion-item>
      </div>
</ion-content>
