<ion-header no-border-bottom>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>Ctlkart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label position="stacked">Email<ion-text color="danger">*</ion-text></ion-label>
      <ion-input [(ngModel)]="forget.email" required type="email"></ion-input>
    </ion-item>
    <ion-button (click)="forgetPassword()">Submit</ion-button>
  </ion-list>
</ion-content>
