<ion-header no-border-bottom>
  <ion-toolbar color="grey">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>Ctlkart</ion-title>
      <ion-buttons slot="end" (click)="viewcart()">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
        <ion-badge id="cart-badge" color="danger">{{cartcount}}</ion-badge>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class = "ion-searchbar">
      <ion-searchbar (ionInput)="getItems($event)" ></ion-searchbar>
      <!-- <ion-searchbar [(ngModel)]="term.searchText" (keyup.enter)="getItems(term.searchText)"></ion-searchbar> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
      <ion-slides [options]="sliderConfig" class="category">
          <ion-slide *ngFor = "let category of getallcategories">
              <p (click)="filterbyCategory(category.category_id)">{{category.category_name}}</p>
          </ion-slide>
      </ion-slides>
      <br>
    <ion-slides initialSlide="0" pager="true" loop="true" [options]="sliderConfigimage">
      <ion-slide>
        <img class= "img" src="https://images.pexels.com/photos/1092644/pexels-photo-1092644.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/>
        </ion-slide>

        <ion-slide>
        <img class= "img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOVdc-aleQlgDa5Oe4Ps88hrXOJtUCIif4__FWYvysQuHq5lPd"/>
        </ion-slide>

      <ion-slide>
        <img class= "img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX9LUzZRiOHWQWS8OGN3J6_1aGryBknWcGPTMPcvJM08sLEk554A"/>
        </ion-slide>
    </ion-slides>
  </div>
  <div>
      <!-- <ion-grid>
          <ion-row>
            <ion-col size = "6" *ngFor = "let cat of getallcategories">
              <img [src]="imgURl + cat.category_image"/> 
              <ion-label>{{cat.category_name}}</ion-label>
              <div *ngFor = "let sub of cat.subcategorydetails">{{sub.subcategory_name}}
            <div *ngIf = "sub">
              <p *ngFor = "let subsub of sub.subsubcategories">{{subsub.subsubcategory_name}}</p>
              </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid> -->
      <ion-grid>
        <ion-row>
          <!-- <ion-col size = "6" *ngFor = "let product of getProductLists | products :{product_name: term.searchText,price: term.searchText}"> -->
              <ion-col size = "6" *ngFor = "let product of getProductLists">
            <img [src]="imgURl + product.product_image" (click)="viewsingleproduct(product.id)" /> 
            <ion-label (click)="viewsingleproduct(product.id)">{{product.product_name}}</ion-label>
            <p (click)="viewsingleproduct(product.id)"><i class="fa fa-inr"></i>{{product.price | number : '1.2-2'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

</ion-content>
